<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<link th:rel="stylesheet" th:href="@{/login.css} "/>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
	<title>Welcome to CodeJava Home</title>
</head>
<body>
	<div class="container text-center">
		<br/><br/><br/>
		<h1>Welcome to Geek Networks</h1>
		<h3><a th:href="@{/register}">Register</a></h3>
		<h3><a th:href="@{/login}">Login</a></h3>
	</div>
	
</body>
</html>