<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>List of Movies</title>
	<link th:rel="stylesheet" th:href="@{/styles.css} "/>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container ">
	<div>
		<form th:action="@{/logout}" method="post">
			<p>
				Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b> <span style="float:right"><b>[[${#request.userPrincipal.principal.username}]]</b></span>
			</p>
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	<br/>
	<div class="row">
		<a class="col-3 button" th:href="@{/add_movie}">Add new movie</a>
		<a class="col-3 button" th:href="@{/add_actors}">Actors</a>
		<a class="col-3 button" th:href="@{/add_categories}">Categories</a>
	</div>
	<hr/>
	<div>
		<h3>List of Movies</h3>
	</div>
	
	<div>
		<table class="table table-striped table-bordered" id="tables">
			<thead class="thead-dark">
				<tr>
					<th>Movie ID</th>
					<th>Title</th>
					<th>Languages</th>
					<th>Category</th>
					<th>Actors</th>
					<th>Duration</th>
					<th>Costs</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item: ${listMovies}">
					<td th:text="${item.id}"></td>
					<td th:text="${item.title}" th:class="${item.rating} > 8 ? colorForTittle : null"></td>
					<td>
						<div th:each="lang : ${item.languageList}">
							<span>[[${lang.displayValue}]]</span>
						</div>
					</td>
					<td>[[${item.category.name}]]</td>
					<td>
						<div th:each="actor : ${item.actors}">
							<span>[[${actor.fullName}]]</span>
						</div>
					</td>
					<td th:text="${item.duration}"></td>
					<td th:text="${item.costs}"></td>
					<td th:text="${item.rating}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>